body{
    background-color:#E9ECEE;
}
a{
    text-decoration: none;
    color: black;
}
.fa-solid {
float: right;
padding-right: 20px;
}
.nav-bar{
    padding-bottom: 50%;
    border: 1px solid ghostwhite;
    margin: 0%;
    padding: 20px;    
    background-color: white;
}
.nav-bar .logo{
    padding-left: 2%;
}
.nav-bar .home{
    float: right;
    padding-right: 8%;
}
.nav-bar .login{
    float: right;
    padding-right: 1%;
}
.center{
    text-align: center;
    padding-top: 1%;
}
button{
    padding: 9px 16px;
    background-color: #2779e3;
    color: white;
    border-radius: 6px;
}